body {
	font-family: Verdana,sans-serif;
}

#corpo {
	width:90%;
	margin: 0em auto;
}

#sinistra {
	margin-right:2%;
	width:30%;
	float:left;
}

#campiIns {
	text-align:center;
}

#destra {
	border-left-style:solid;
	border-left-width: 1%;
	text-align:center;
	width:67%;
	float:left;
}

#fine {
	clear:both;
}

.campoTesto {
	margin: 0em auto;
}

.bottone {
	background-color:#9cbbf3;
	border-radius: 1em;
	margin: 0.5em;
	padding: 0.5em;
	font-size: 0.8em;
}

.bottone:hover {
	background-color:white;
	color:black;
	font-size: 0.9em;
}